// Tema customizado do Angular Material
@use "@angular/material" as mat;

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Estilos base do Material
@include mat.core();

// Paleta de cores da organização
$my-org-blue-palette: (
  50: #eff6ff,
  100: #dbeafe,
  200: #bfdbfe,
  300: #93c5fd,
  400: #60a5fa,
  500: #3b82f6,
  600: #4c73db,
  700: #2852c8,
  800: #2144a6,
  900: #1d3c91,
);

// Configuração do tema Angular Material
$example-app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Aplicação do tema com customizações da marca
:root {
  @include mat.all-component-themes($example-app-theme);

  // Customização das cores do sistema usando nossa paleta
  --mat-sys-primary: #{map-get($my-org-blue-palette, 700)};
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #{map-get($my-org-blue-palette, 100)};
  --mat-sys-on-primary-container: #{map-get($my-org-blue-palette, 900)};
  --mat-sys-secondary: #{map-get($my-org-blue-palette, 400)};
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-tertiary: #{map-get($my-org-blue-palette, 600)};
  --mat-sys-on-tertiary: #ffffff;
}

// Estilos globais
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
